@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}
<div id="background" data-bgimage="url(/Templates/seaside/images/gallery/gallery-item-4.jpg) fixed"></div>
<div id="content-absolute">

    <!-- subheader -->
    <section id="subheader" class="no-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>We Are</h4>
                    <h1>Seaside</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="section-main" class="no-bg no-top" aria-label="section-menu">
        <div class="container">

            @await Component.InvokeAsync("LuxeryRoom")


            <div class="spacer-double"></div>

            <div class="row gx-4">
                <div class="col-lg-12 text-center">
                    <h2 class="title center">
                        Hotel Facilities
                        <span class="small-border"></span>
                    </h2>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon bg-color"><img src="~/Templates/seaside/images/svg/restaurant-svgrepo-com.svg" alt=""></span>
                        <div class="text">
                            <h3 class="style-1">Restaurant</h3>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon bg-color"><img src="~/Templates/seaside/images/svg/swimming-pool-svgrepo-com.svg" alt=""></span>
                        <div class="text">
                            <h3 class="style-1">Swimming Pool</h3>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon bg-color"><img src="~/Templates/seaside/images/svg/fitness-gym-svgrepo-com.svg" alt=""></span>
                        <div class="text">
                            <h3 class="style-1">Fitness Area</h3>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon bg-color"><img src="~/Templates/seaside/images/svg/coffee-table-svgrepo-com.svg" alt=""></span>
                        <div class="text">
                            <h3 class="style-1">Mini Bar</h3>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon bg-color"><img src="~/Templates/seaside/images/svg/meeting-explain-svgrepo-com.svg" alt=""></span>
                        <div class="text">
                            <h3 class="style-1">Meeting Room</h3>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon bg-color"><img src="~/Templates/seaside/images/svg/laundry-machine-svgrepo-com.svg" alt=""></span>
                        <div class="text">
                            <h3 class="style-1">Laundry Service</h3>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon bg-color"><img src="~/Templates/seaside/images/svg/screen-tv-svgrepo-com.svg" alt=""></span>
                        <div class="text">
                            <h3 class="style-1">Satelite TV</h3>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon bg-color"><img src="~/Templates/seaside/images/svg/safebox-svgrepo-com.svg" alt=""></span>
                        <div class="text">
                            <h3 class="style-1">Safe Box</h3>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon bg-color"><img src="~/Templates/seaside/images/svg/car-parking-svgrepo-com.svg" alt=""></span>
                        <div class="text">
                            <h3 class="style-1">Parking Area</h3>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- subheader close -->
    <partial name="_LayoutPartial/_FooterPartial" />
</div>


