@model List<Facility>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}
<div id="background" data-bgimage="url(/Templates/seaside/images/gallery/gallery-item-4.jpg) fixed"></div>
<div id="content-absolute">

    <!-- subheader -->
    <section id="subheader" class="no-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>We Are</h4>
                    <h1>Seaside</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="section-main" class="no-bg no-top" aria-label="section-menu">
        <div class="container">

            @await Component.InvokeAsync("LuxeryRoom")


            <div class="spacer-double"></div>

            <div class="row gx-4">
                <div class="col-lg-12 text-center">
                    <h2 class="title center">
                        Hotel Facilities
                        <span class="small-border"></span>
                    </h2>
                </div>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    
                <div class="col-md-4">
                    <div class="box-icon">
                        <span class="icon bg-color"><img src="@item.SvgPath" alt=""></span>
                        <div class="text">
                            <h3 class="style-1">@item.Name</h3>
                            <p>
                                @item.Description
                            </p>
                        </div>
                    </div>
                </div>
                }
            </div>

        </div>
    </section>

    <!-- subheader close -->
    <partial name="_LayoutPartial/_FooterPartial" />
</div>


