
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<div id="background"
     data-bgimage="url(/Templates/seaside/images/background/7.jpg) fixed"></div>
<div id="content-absolute">
    <!-- subheader -->
    <section id="subheader" class="no-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Make a</h4>
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="section-main" style="margin-bottom:100px" class="no-bg no-top" aria-label="section-menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="de-content-overlay">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3>Seaside Kuveytturk</h3>
                                        <address>
                                            <span>
                                                <strong>Address:</strong>Cumhuriyet Mah. Özgürlük Cad. No: 11/A Çayırova Kocaeli
                                            </span>
                                            <span><strong>Phone:</strong>(555) 333 3333</span>
                                            <span><strong>Fax:</strong>(555) 333 3322</span>
                                            <span>
                                                <strong>Email:</strong><a href="mailto:contact@example.com">10webapp10@gmail.com</a>
                                            </span>
                                        </address>
                                    </div>

                                    <div class="col-lg-6">
                                        <h3>Seaside Architecht</h3>
                                        <address>
                                            <span>
                                                <strong>Address:</strong>Sanayi Mah. Teknopark Blv. 1 / 4c / 601 Teknopark İstanbul
                                                Pendik / İstanbul
                                            </span>
                                            <span><strong>Phone:</strong>(555) 333 3333</span>
                                            <span><strong>Fax:</strong>(555) 333 3322</span>
                                            <span>
                                                <strong>Email:</strong><a href="mailto:contact@example.com">10webapp10@gmail.com</a>
                                            </span>
                                        </address>
                                    </div>
                                </div>

                                <div class="spacer-single"></div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                <form name="contactForm" id="contact_form" asp-action="Contact" method="post">
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="col-md-12 mb10">
                                            <h3>Send Us Message</h3>
                                        </div>
                                            
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="Message">Your Message:</label>
                                                    <textarea placeholder="Your Message" name="Message" id="Message" class="form-control" required></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                            <div class="mt20">
                                                <input type="submit" 
                                                        value="Submit Form"
                                                        style="border:1px solid rgba(255,255,255,0.5);padding:4px 8px;color:dimgray;background-color:transparent;"/>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                }
                                else
                                {
                                    <br />
                                    <h3>Iletisime Gecmek Icin Lutfen Uye Girisi Yapiniz </h3>
                                }
                                <br />
                                @if(TempData["Message"]=="true")
                                {
                                <div id="success_message" class="success" style="display:block !important">
                                    Your message has been sent successfully. Refresh this page
                                    if you want to send more messages.
                                </div>
                                }
                                else if (TempData["Message"] == "false")
                                {
                                <div id="error_message" class="error" style="display:block !important">
                                    Sorry there was an error sending your form.
                                </div>
                                }
                            </div>
                            <div class="col-lg-4">
                                <div class="map-container map-fullwidth">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3014.666476766214!2d29.31389417652563!3d40.923058224667315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb275c7856e323%3A0xd3523f32cfdfae4a!2sArchitecht%20Bili%C5%9Fim%20Sistemleri%20ve%20Pazarlama%20Ticaret%20A.%C5%9E.!5e0!3m2!1str!2str!4v1705578475650!5m2!1str!2str" 
                                            width="600" 
                                            height="450" 
                                            
                                            style="border:0 ;filter:invert(90%)"
                                            allowfullscreen=""
                                            loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader close -->
    <partial name="_LayoutPartial/_FooterPartial" />
</div>
