@model List<Gallery>
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<div id="background"
     data-bgimage="url(/Templates/seaside/images/gallery/gallery-item-6.jpg) fixed"></div>
<div id="content-absolute">
    <!-- float text begin -->
    <!-- float text close -->
    <!-- subheader -->
    <section id="subheader" class="no-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Latest</h4>
                    <h1>Gallery</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="section-main" class="no-bg no-top" aria-label="section-menu">
        <div class="container">
            <div id="gallery" class="row g-4">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 item" style="height:260px">
                    <div class="de-image-hover">
                        <a href="@item.Image" class="image-popup">
                            <span class="dih-title-wrap">
                                    <span class="dih-title">@(item.Description.Length > 20 ? item.Description.Substring(0, 20) + "..." : item.Description)</span>
                            </span>
                            <span class="dih-overlay"></span>
                                <img  src="@item.Image"
                                 class="lazy img-fluid"
                                 alt="" />
                        </a>
                    </div>
                </div>
                }

                
            </div>
        </div>
    </section>
    <!-- subheader close -->

    <partial name="_LayoutPartial/_FooterPartial" />
</div>
