<section class="jarallax">
    <img src="~/Templates/seaside/images/background/7.jpg" class="jarallax-img" alt="" />
    <div class="container">
        <div class="row gx-4">
            <div class="col-lg-12 text-center">
                <h2 class="title center">
                    Our Rooms
                    <span class="small-border"></span>
                </h2>
            </div>
            <div class="col-lg-4">
                <div class="de-room">
                    <div class="d-image">
                        <div class="d-label">only 2 room left</div>
                        <div class="d-details">
                            <span class="d-meta-1">
                                <img src="~/Templates/seaside/images/ui/user.svg" alt="" />2 Guests
                            </span>
                            <span class="d-meta-2">
                                <img src="~/Templates/seaside/images/ui/floorplan.svg" alt="" />30 ft
                            </span>
                        </div>
                        <a asp-area="Guest" asp-controller="Room" asp-action="RoomSingle">
                            <img src="~/Templates/seaside/images/room/1.jpg" class="img-fluid" alt="" />
                            <img src="~/Templates/seaside/images/room/1-alt.jpg"
                                 class="d-img-hover img-fluid"
                                 alt="" />
                        </a>
                    </div>

                    <div class="d-text">
                        <h3>Standard Room</h3>
                        <p>
                            Most hotels and major hospitality companies have set
                            industry standards to classify hotel types. An upscale
                            full-service hotel facility offers luxury...
                        </p>
                        <a asp-area="Guest" asp-controller="Room" asp-action="RoomSingle" class="btn-line"><span>Book Now For $29</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="de-room">
                    <div class="d-image">
                        <div class="d-label">only 1 room left</div>
                        <div class="d-details">
                            <span class="d-meta-1">
                                <img src="~/Templates/seaside/images/ui/user.svg" alt="" />2 Guests
                            </span>
                            <span class="d-meta-2">
                                <img src="~/Templates/seaside/images/ui/floorplan.svg" alt="" />35 ft
                            </span>
                        </div>
                        <a asp-area="Guest" asp-controller="Room" asp-action="RoomSingle">
                            <img src="~/Templates/seaside/images/room/2.jpg" class="img-fluid" alt="" />
                            <img src="~/Templates/seaside/images/room/2-alt.jpg"
                                 class="d-img-hover img-fluid"
                                 alt="" />
                        </a>
                    </div>

                    <div class="d-text">
                        <h3>Deluxe Room</h3>
                        <p>
                            Most hotels and major hospitality companies have set
                            industry standards to classify hotel types. An upscale
                            full-service hotel facility offers luxury...
                        </p>
                        <a asp-area="Guest" asp-controller="Room" asp-action="RoomSingle" class="btn-line"><span>Book Now For $39</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="de-room">
                    <div class="d-image">
                        <div class="d-label">only 3 room left</div>
                        <div class="d-details">
                            <span class="d-meta-1">
                                <img src="~/Templates/seaside/images/ui/user.svg" alt="" />2 Guests
                            </span>
                            <span class="d-meta-2">
                                <img src="~/Templates/seaside/images/ui/floorplan.svg" alt="" />40 ft
                            </span>
                        </div>
                        <a asp-area="Guest" asp-controller="Room" asp-action="RoomSingle">
                            <img src="~/Templates/seaside/images/room/3.jpg" class="img-fluid" alt="" />
                            <img src="~/Templates/seaside/images/room/3-alt.jpg"
                                 class="d-img-hover img-fluid"
                                 alt="" />
                        </a>
                    </div>

                    <div class="d-text">
                        <h3>Premier Room</h3>
                        <p>
                            Most hotels and major hospitality companies have set
                            industry standards to classify hotel types. An upscale
                            full-service hotel facility offers luxury...
                        </p>
                        <a asp-area="Guest" asp-controller="Room" asp-action="RoomSingle" class="btn-line"><span>Book Now For $49</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>