<footer style="background-color:rgba(49, 43, 36)" class="no-top pl20 pr20">
    <div class="subfooter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    &copy; @DateTime.Now.Year - Seaside Hotel by
                    <span class="id-color">Furkan Ermis</span>
                </div>
                <div class="col-md-6 text-right">
                    <div class="social-icons">
                        <a href="https://tr-tr.facebook.com/"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="https://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="https://www.instagram.com/"><i class="fa fa-instagram fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="back-to-top"></a>
</footer>
