<head>
    <meta charset="utf-8">
    <title>Seaside Hotel</title>
    <link rel="icon" href="images/icon.png" type="image/gif" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="seaside,hotel,hotel rezervation,booking,holiday,travel,peace,rezervation,sea,beach,room,family">
    <meta name="author" content="Furkan Ermis">

    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="~/Templates/seaside/css/bootstrap.min.css" type="text/css" id="bootstrap">
    <link rel="stylesheet" href="~/Templates/seaside/css/plugins.css" type="text/css">
    <link rel="stylesheet" href="~/Templates/seaside/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/Templates/seaside/css/color.css" type="text/css">

    <!-- supersized -->
    <link rel='stylesheet' href='~/Templates/seaside/js/supersized/css/supersized.css' type='text/css'>
    <link rel='stylesheet' href='~/Templates/seaside/js/supersized/theme/supersized.shutter.css' type='text/css'>

    <!-- color scheme -->
    <link rel="stylesheet" href="~/Templates/seaside/css/colors/brown.css" type="text/css" id="colors">
</head>

