@model List<TestimonyViewModel>

<section class="jarallax">
        <img src="~/Templates/seaside/images/background/4.jpg" class="jarallax-img" alt="" />
        <div class="container">
            <div class="row gx-4">
                <div class="col-lg-12 text-center">
                    <h2 class="title center">
                        Testimonials
                        <span class="small-border"></span>
                    </h2>
                </div>

                <div class="col-md-8 offset-md-2 wow fadeInUp">
                    <div id="testimonial-carousel-single"
                         class="owl-carousel owl-theme wow fadeInUp">

                    @foreach (var item in Model)
                    {
                        
                    <blockquote class="testimonial-big">
                            <span class="d-testi">
                                @item.Message
                            </span>
                            <span class="name">@item.Username ,  Customer </span>
                        </blockquote>
                    }

                    </div>
                </div>
            </div>
        </div>
    </section>