    <section class="jarallax">
        <img src="~/Templates/seaside/images/background/4.jpg" class="jarallax-img" alt="" />
        <div class="container">
            <div class="row gx-4">
                <div class="col-lg-12 text-center">
                    <h2 class="title center">
                        Testimonials
                        <span class="small-border"></span>
                    </h2>
                </div>

                <div class="col-md-8 offset-md-2 wow fadeInUp">
                    <div id="testimonial-carousel-single"
                         class="owl-carousel owl-theme wow fadeInUp">
                        <blockquote class="testimonial-big">
                            <span class="d-testi">
                                The rooms were clean, very comfortable, and the staff was
                                amazing. They went over and beyond to help make our stay
                                enjoyable. I highly recommend this hotel for anyone
                                visiting downtown
                            </span>
                            <span class="name">Benedict Mervine, Customer</span>
                        </blockquote>

                        <blockquote class="testimonial-big">
                            <span class="d-testi">
                                They were extremely accommodating and allowed us to check
                                in early at like 10am. We got to hotel super early and I
                                didn’t wanna wait. So this was a big plus. The sevice was
                                exceptional as well. Would definitely send a friend
                                there.
                            </span>
                            <span class="name">Doretta Mccourtney, Customer</span>
                        </blockquote>

                        <blockquote class="testimonial-big">
                            <span class="d-testi">
                                I had a wonderful experience at the hotel. Every staff
                                member I encountered, from the valet to the check- in to
                                the cleaning staff were delightful and eager to help!
                                Thank you! Will recommend to my colleagues!
                            </span>
                            <span class="name">Carole Hunckler, Customer</span>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>