
@{
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";

}
<div style="background-color:transparent;">
<div id="iyzipay-checkout-form" class="responsive" style="background-color:transparent;position:absolute;z-index:3000;left:10%;top:10%">
</div>
</div>
@Html.Raw(ViewBag.pay)
