@model AppUserRegisterViewModel


@{
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/lib/registeration/css/site.css" rel="stylesheet" />

</head>
<body>
    <div class="login-box">
        <h2>Register</h2>
        <form method="post">
            <div class="user-box">
                <input type="text" asp-for="Name" required />
                <label>Name</label>
            </div>
            <div class="user-box">
                <input type="text" asp-for="Surname" required />
                <label>Surname</label>
            </div>
            <div class="user-box">
                <input type="text" asp-for="Username" required />
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="text" asp-for="Email" required />
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" asp-for="Password" required />
                <label>Password</label>
            </div>
            <div class="user-box">
                <input type="password" asp-for="ConfirmPassword" required />
                <label>ConfirmPassword</label>
            </div>
            <br />
            @if (User.IsInRole(DefaultRole.RoleAdmin))
            {
                <div style="width:100%;color:white">
                    <select style="width:100%;padding:10px;background-color:transparent;outline:red;border:none;border-bottom:1px solid red !important;color:red;font-size:18px" asp-for="Role" asp-items="Model.RoleList" class="form-control">
                        <option  value="">Select Role</option>
                    </select>
                </div>
            }
            <div asp-validation-summary="All"></div>
            <div style="display:block;justify-content:space-around">
                <button type="submit" style="background-color:transparent;border:none;cursor:pointer;">
                    <a >
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Submit
                    </a>
                </button>
                <a style="font-size:8px !important" asp-action="Index" asp-controller="Login" asp-area="Guest">
                    Bir Hesabınız Var Mı?
                </a>
            </div>
        </form>
    </div>
</body>
</html>
